
#ErrorDocument 404 /404.html
#ErrorDocument 500 /500.html 

# prevent directory listing
IndexIgnore * 

<IfModule mod_rewrite.c>
RewriteEngine on
RewriteBase /

# redirect all www to non-www and preserve folder and file path.
#RewriteCond %{HTTP_HOST} ^www.buildmeister\.com [NC]
#RewriteRule ^(.*)$ http:/www.buildmeister.com/$1 [R=301,L]

#RewriteRule ^(.*)\.html$ $1.php [nc]

RewriteRule ^$ /buildmeister.com/public/pages/index.php
RewriteRule ^public/$ /buildmeister.com/public/pages/index.php

RewriteRule ^articles/$ /buildmeister.com/public/pages/articles/index.php
RewriteRule ^articles/(.*)\.html$ /buildmeister.com/public/pages/articles/$1.php
RewriteRule ^articles/(.*)\.js$ /buildmeister.com/public/pages/articles/$1.js
RewriteRule ^articles/([a-zA-Z0-9\-_.,]+)/?$ /buildmeister.com/public/pages/articles/view.php?title=$1
RewriteRule ^articles/edit/([0-9]+)/?$ /buildmeister.com/public/pages/articles/edit.php?id=$1

RewriteRule ^categories/([a-zA-Z0-9_-]+)/?$ /buildmeister.com/public/pages/categories/viewcategory.php?name=$1

RewriteRule ^books/$ /buildmeister.com/public/pages/books/index.php

RewriteRule ^glossary/$ /buildmeister.com/public/pages/glossary/index.php
RewriteRule ^glossary/([a-zA-Z0-9_-]+)/?$ /buildmeister.com/public/pages/glossary/viewterm.php?term=$1

RewriteRule ^links/$ /buildmeister.com/public/pages/links/index.php

RewriteRule ^users/(.*)\.html$ /buildmeister.com/public/pages/users/$1.php
RewriteRule ^users/(.*)\.js$ /buildmeister.com/public/pages/users/$1.js
RewriteRule ^users/view/$ /buildmeister.com/public/pages/users/view.php
RewriteRule ^users/([a-zA-Z0-9_-]+)/?$ /buildmeister.com/public/pages/users/view.php?user=$1
RewriteRule ^users/edit/([a-zA-Z0-9_-]+)/?$ /buildmeister.com/public/pages/users/edit.php?user=$1

RewriteRule ^contact/$ /buildmeister.com/public/pages/contact.php
RewriteRule ^about/$ /buildmeister.com/public/pages/about.php
RewriteRule ^terms/$ /buildmeister.com/public/pages/terms.php
</IfModule> 