
.filter-table {		
	border: 1px solid #ccc;
	width: 100%;
}
.filter-table td {
	border-bottom:1px solid #ddd;
	padding:5px 20px 5px 5px;
	color: #000;
	font-size: 8pt;
	cursor: default;
}
.filter-table th {
	background-color: #ddd;
	font-weight: bold;
	text-align: center;
	border-bottom:1px solid #999;
	padding: 5px;
	font-size: 8pt;
}
.filter-table th a {
	color: #225;
	text-decoration: none;
}
.filter-table th a:hover {
	color: #225;
	text-decoration: underline;
}

.filter-table a {
	color: #228;
	text-decoration: underline;	
}
.filter-table a:hover {
	color: #228;
	text-decoration: none;
}

.selected				{ background: #d5fcdc; }
.even                   { background: #fff; }
.highlighted			{ background: #e3f1fb; }
.odd                    { background: #eee; }
.leftAlign 				{ text-align: right; }
.rightAlign 			{ text-align: right; }
.centerAlign 			{ text-align: center; }
.sortedASC 				{ background: url(/buildmeister.com/public/images/filtertable-sort-asc.png) no-repeat 2px 4px #ddd;}
.sortedDESC 			{ background: url(/buildmeister.com/public/images/filtertable-sort-desc.png) no-repeat 2px 4px #ddd;}

.iconSelectable {
	vertical-align: middle;
	color: #000;
	text-decoration: none;
	cursor: default;
	padding: 5px;
	height: 20px;
}

.iconHighlighted {
	vertical-align: middle;
	color: #000;
	text-decoration: none;
	cursor: default;
	padding: 4px;
	height: 20px;
	border-left: 1px solid #fff;
	border-top: 1px solid #fff;
	border-right: 1px solid #888;
	border-bottom: 1px solid #888;
}

.iconUnselectable {
	vertical-align: middle;
	color: #444;
	text-decoration: none;
	cursor: default;
	padding: 5px;
	height: 20px;
}

.iconSeparator {
	margin-left: 2px;
    margin-right: 2px;
    border-left: 1px solid #fff;
    border-right: 1px solid #888;
}    

.tableNav {
	background: #ddd;
	border-bottom: 1px solid #999;
	padding: 2px;
	height: 25px;
	margin: 5px 0 5px 0;
}


