
#admin {
	margin: auto
}

.admintable {		
	border: 1px solid #ccc;
	width: 100%;
}
.admintable td {
	border: 1px solid #FFFFFF;
	padding: 0 2px;
	color: #228;
}
.admintable th {
	background-color: #eee;
	font-weight: bold;
	text-align: center;
	padding: 4px 4px 4px 14px;
}
.admintable tr.altrow {
	background-color: #eee;
}
.admintable tr:hover {
	background-color: #FFFFBB;
}
.admintable a {
	color: #228;
}
.admintable a:hover {
	color: #228;
}

.rightAlign {
	text-align: right;
}

.centerAlign {
	text-align: center;
}

.sortedASC {
	background: url(images/icon-table-sort-asc.png) no-repeat 2px 4px #eee;
}

.sortedDESC {
	background: url(images/icon-table-sort-desc.png) no-repeat 2px 10px #eee;
}

.tableHeaderOver {
	cursor: pointer;
	color: #354158;
}

.tableNav {
	border: 1px solid #ccc;
	padding: 2px;
	height: 25px;
	margin: 5px 0 5px 0;
}

.tableSummary {
	border: 1px solid #ccc;
	padding: 2px;
	height: 25px;
	margin: 5px 0 5px 0;
}

/*.tableNav input {
	border: 1px solid #ccc;
}

.tableNav select {
	border: 1px solid #ccc;
}

.tableNav input:hover {
	border: 1px solid #999;
	background-color: #FFFFBB;
}

.tableNav select:hover {
	border: 1px solid #999;
	background-color: #FFFFBB;
}

.tableNav input:focus {
    color: #000;
    background-color: #bff;
    border: 1px solid #999; 
    cursor: text;
}

.tableNav select:focus {
    color: #000;
    background-color: #bff;
    border: 1px solid #999; 
    cursor: text;
}

.tableSummary input {
	border: 1px solid #ccc;
}*/

/*.tableSummary input:hover {
	border: 1px solid #999;
	background-color: #FFFFBB;
}

.tableSummary input:focus {
    color: #000;
    background-color: #bff;
    border: 1px solid #999; 
    cursor: text;
}*/

