#article {
    text-align: justify;
    padding-left: 0px;
    padding-right: 0px;
    font-size: 8pt;
}
#keyconcepts {
    width: 250px;
    background: #F8F7EF;
    padding: 10px;
    font-size: 8pt;
    float: right;
    margin-left: 20px;
    margin-bottom: 10px;
    border: 1px dashed #B2B2B2;
}
#codeoutput {
    text-align: left;
    font-family: monospace;
    color: #008080;
    margin-left: 40px;
}
h1 { 
	margin-bottom: 0.5em; 
	text-align:left; 
	font-size:14pt; 
	letter-spacing: 2px;
	padding: 0.5em; 
	border-left: 3px solid #B2B2B2;
}
h2 { 
	padding-left: 0.5em; 
	text-align:left; 
	font-size:12pt; 
	letter-spacing: 2px; 
	border-left: 1px solid #B2B2B2;
}
h3 { 
	text-align:left; 
	font-size:10pt; 
	letter-spacing: 2px; 
}
h4 { 
	text-align:left; 
	font-size:8pt; 
	letter-spacing: 2px; 
}	
p#articlehead {
  text-align: justify; font: 1.2em; margin-top: 1em;
  padding: 0.5em; background: #F8F7EF;
  border-bottom: 1px dashed #B2B2B2; border-top: 1px dashed #B2B2B2;
}
p#article {
    text-align: justify;
}
#dashedrow {
  padding: 0.5em; margin: 2 0 2em 0;
  border-bottom: 1px dashed #B2B2B2; border-top: 1px dashed #B2B2B2;		
}	
p#codeoutput {
    text-align: left;
    font-family: monospace;
    color: #008080;
    margin-left: 40px;
}
table#fullwidth {
    cellspacing: 0px;
    cellpadding: 5px;
    width: 100%;
    border: 0;
    border-color: #02F;
    margin-left: auto;
    margin-right: auto;
    background-color:#BBBEEE;
}
table#nicewidth {
    cellspacing: 0px;
    cellpadding: 5px;
    width: 95%;
    border-color: #02F;
    margin-left: auto;
    margin-right: auto;
    background-color:#BBBEEE;
}
p { text-align: justify; }
table#nicewidth th { background-color:#CCDDEE; padding: 5px;}
table#nicewidth td { background-color:#FFF; padding: 5px; text-align: left; }
/*table#code {
    width: 90%;
    BORDER-COLLAPSE: collapse;
    bordercolor: #111111;
    cellspacing: 0px;
    cellpadding: 0px;
    border: 0;
    margin-left: auto;
    margin-right: auto;
}
td#codelines {
    FONT-FAMILY: monospace;
    COLOR: #008080;
    BACKGROUND-COLOR: rgb(255,255,204);
    valign: top;
    width: 50px;
    align: center;
}
td#codecontent {
    FONT-FAMILY: courier new;
    BACKGROUND-COLOR: rgb(255,255,204);
    valign: top;
    width: 700px;
    align: left;
}   */
